<%- include('../layouts/head.ejs') %>

<%- include('../layouts/navigation.ejs') %>

    <div class="container m-2 p-3">
        <form action="/admin/add-product" method="POST" class="p-4 col-md-10 mx-auto" style="border:2px solid #ECECEC;">
            <div class="mb-2">
                <label for="Title" class="form-label">Category</label>
                <input type="text" class="form-control" name="category">
            </div>

            <div class="mb-2">
                <label for="ProductName" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="ProductName">
            </div>

            <div class="mb-2">
                <label for="imageUrl" class="form-label">Image Url</label>
                <input type="text" class="form-control" name="imageUrl">
            </div>

            <div class="mb-2">
                <label for="Price" class="form-label">Price</label>
                <input type="number" class="form-control" name="price" step="0.01">
            </div>

            <div class="mb-2">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control" name="description" id="Description" rows="3"></textarea>
              </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


  
<%- include('../layouts/end.ejs') %>