<%- include('../layouts/head.ejs') %>

<%- include('../layouts/navigation.ejs') %>

    <div class="container m-5 p-3">
        <form action="/admin/add-product" method="POST" class="p-4 col-md-10 mx-auto" style="border:2px solid #ECECEC;">
            <div class="mb-3">
                <label for="Title" class="form-label">Category</label>
                <input type="text" class="form-control" name="title">
            </div>

            <div class="mb-3">
                <label for="ProductName" class="form-label">Product Name</label>
                <input type="text" class="form-control" name="ProductName">
            </div>
            <!-- <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


  
<%- include('../layouts/end.ejs') %>