<%- include('../layouts/head.ejs') %>

<%- include('../layouts/navigation.ejs') %>

    <div class="container">
        <h1 class="mt-4"> Admin Product List</h1>
    </div>


<%- include('../layouts/end.ejs') %>