<%- include('layouts/head.ejs') %>

<%- include('layouts/navigation.ejs') %>

    <div class="container">
        <h1 class="mt-4">Product List</h1>
        <div class="row">
            <% if(prod.length>0) { %>
                <% for(let product of prod) { %>
                    <div class="card m-4" style="width: 18rem;">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXCpiYKfm11YUjU715AE4xto0XO6fzBiL8Q&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><%= product.Name %></h5>
                        <a href="#" class="btn" style="background: crimson; color:white">Add to Cart</a>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <h3>No products to show</h3>
            <% } %>
        </div>
    </div>


<%- include('layouts/end.ejs') %>