extends base.pug

block content
    div(class="container")
            h1(class="mt-4 mb-4") Product List

            div(class="row")
                if prod.length>0
                    each product in prod
                        div(class="card m-4" style="width: 18rem;")
                            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbXCpiYKfm11YUjU715AE4xto0XO6fzBiL8Q&usqp=CAU" class="card-img-top" alt="...")
                            div(class="card-body")
                                h5(class="card-title text-center")=product.Name
                                a(href="#" class="btn btn-primary" style={background:"#D70F64", width:"100%"}) Add to cart

                else
                    h3 No Product Found