/* nav{
    font-family: sans-serif;
}

.active{
    color: crimson !important;
}

.nav-link{
    font-size: 18px;
}

.navbar-brand{
    font-size: 25px !important;
    font-weight: 500 !important;
} */