<%- include('../layouts/head.ejs') %>

<%- include('../layouts/navigation.ejs') %>



    <div class="container m-5 p-3">
        <h3>This is checkout page</h3>
    </div>

    <%- include('../layouts/end.ejs') %>